.font(@weight: 400) {
  font-family: 'Open Sans', sans-serif;
  font-weight: @weight;
}

.fontExtraBold() {
  .font(800);
}

.fontSemiBold() {
  .font(600);
}

.fontLight() {
  .font(300);
}

@font-face {
  font-family: 'AvantGarde-Book';
  src: url('../fonts/AvantGarde-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvantGarde-Book.woff') format('woff'), url('../fonts/AvantGarde-Book.ttf')  format('truetype'), url('../fonts/AvantGarde-Book.svg#AvantGarde-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvantGarde-Book-Bold';
  src: url('../fonts/AvantGarde-Book-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvantGarde-Book-Bold.woff') format('woff'), url('../fonts/AvantGarde-Book-Bold.ttf')  format('truetype'), url('../fonts/AvantGarde-Book-Bold.svg#AvantGarde-Book-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fontAvantBold() {
  font-family: 'AvantGarde-Book-Bold', 'Open Sans', sans-serif;
}

.fontAvant() {
  font-family: 'AvantGarde-Book', 'Open Sans', sans-serif;
}