body {
  background-image: url(../images/bg-1280.png);
  background-size: 100% auto;
  background-color: white;
  background-position: top center;
  background-repeat: no-repeat;

  @media (max-width: 1024px) {
    background-image: url(../images/bg-1024.png);
  }

  @media (max-width: 800px) {
    background-image: url(../images/bg-800.png);
  }

  @media (max-width: 640px) {
    background-image: url(../images/bg-640.png);
  }

  .font();
}

label {
  color: @label-color;
}

.form-group {
  label {
    text-transform: uppercase;
  }
}

.btn {
  .fontAvantBold();

  span.fix {
  }
}

.mac .btn span.fix {
  padding-top: 0.2em;
  display: inline-block;
}

.btn-primary {
  text-transform: uppercase;
  font-size: 32px;
  .drop-shadow(7px, 7px, 5px, 0.5);
  padding: 0 17em/32;

  @media (max-width: 720px) {
    font-size: 26px;

  }

  @media (max-width: 530px) {
    font-size: 22px;

  }
}

.btn-success {
  text-transform: uppercase;
  font-size: 32px;
  .drop-shadow(7px, 7px, 5px, 0.5);
  padding: 0 17em/32;
  min-width: 4em;

  @media (max-width: 720px) {
    font-size: 26px;

  }

  @media (max-width: 530px) {
    font-size: 22px;

  }
}

.btn-link {
  &.grey {
    color: #d9d9d9;
  }
}

hr {
  border-width: 2px;
}

h1 {
  color: @blue;
  text-align: center;
  .fontExtraBold();
}

h2 {
  color: #9d9c9d;
  font-size: 26px;
  text-align: center;
  .fontExtraBold();

  strong {
    color: @blue;
    .fontExtraBold();
  }

  @media (max-width: 720px) {
    font-size: 22px;
  }

  @media (max-width: 530px) {
    font-size: 18px;
  }
}

h3 {
  color: @red;
  font-size: 18px;
  text-align: center;
  .fontExtraBold();
}

p {
  color: #9d9c9d;
  font-size: 14px;
  line-height: 20em/14;

  &.blue {
    font-size: 18px;
    color: @blue;
    strong {
      color: @red;
    }
  }
}

.spacer {
  height: 2em;

  @media (max-width: 720px) {
    height: 1em;

  }

  @media (max-width: 530px) {
    height: 0.5em;

  }
}

.screen {
  .drop-shadow(0px, 10px, 32px, 0.75);
  background-color: white;
  margin: auto;
  max-width: 100%;
  min-width: 320px;
  padding-left: 88px;
  padding-right: 88px;
  padding-bottom: 40px;

  &.screen-wide {
    width: 740px;
  }

  &.screen-tight {
    width: 486px;
  }

  & > .contain {
    width: 100%;
    margin: auto;
  }

  @media(max-width: 740px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media(max-width: 530px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media(max-width: 360px) {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.logo {
  background-image: url(../images/logo-vertical.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 320px;
  height: 230px;
  margin: auto;

  &.horizontal {
    background-image: url(../images/logo-horizontal.png);
    width: 530px;
    height: 160px;
  }

  @media(max-width: 610px) {
    max-width: 100%;
    background-size: contain;
  }

  @media(max-width: 480px) {
    height: 150px;
    &.horizontal {
      height: 100px;
    }
  }

  @media(max-width: 320px) {
    height: 80px;
    &.horizontal {
      height: 50px;
    }
  }
}

.checkbox {
  &.cf-checkbox {
    label {
      padding-left: 0;
    }
  }

  .form-checkbox {
    vertical-align: middle;
    padding-right: 5px;

    .form-checkbox-inner {
      width: 24px;
      height: 26px;
      display: inline-block;
      background-image: url(../images/checkbox-off.png);

      &.checked {
        background-image: url(../images/checkbox-on.png);
      }
    }
  }
}

.spotify {
  background-image: url(../images/logo-spotify.jpg);
  width: 85px;
  height: 104px;
  display: inline-block;
}