.menu {
  .clearfix;

  margin-top: 1em;

  ul {
    list-style: none;
    padding: 0; margin: 0;
    text-align: center;

    li {
      list-style: none;
      padding: 0;
      display: inline-block;
      margin: 0.5em;

      color: white;

      @media (max-width: 530px) {
        margin: 0.1em;
      }

      &.your-vote {
        position: relative;

        a {
          background-color: @red;

          .icon {
            position: absolute;
            width: 2em;
            height: 100%;
            right: -2.1em;
            top: 0;
            background-image: url(../images/amply-red.png);
            background-repeat: no-repeat;
            background-position: center left;

            @media (max-width: 530px) {
              display: none;
            }
          }

          &.active {
            .icon {
              background-image: url(../images/amply-blue.png);
            }
          }
        }
      }

      a {
        color: white;
        padding: 0.3em 1.5em;
        float: left;
        text-transform: uppercase;
        background-color: #000055;

        @media (max-width: 530px) {
          padding: 0.2em 0.7em;
        }

        &.active {
          background-color: #0569c8;
          .box-shadow(inset 5px 5px 5px rgba(0,0,0, 0.5));
        }
      }
    }
  }
}