.ReactModal__Overlay {
  background: rgba(0,0,0,0.9);
}

.modal-dialog {
  width: 370px;
  max-width: 100%;
  margin: auto;
  top:0;
  left:0;
  right:0;
  border-radius: 0;

  &.centered {
    margin-top: 44px;
    overflow-x: hidden;

    @media (max-height: 820px) {
      margin-top: 0px;
      max-height: 100%;
    }
  }
}