.time-counter {
  width: 213px;
  max-width: 100%;
  margin: auto;

  .box-shadow(inset 0px 0px 10px rgba(157, 156, 157, 0.3));

  & > .contain {
    padding: 6px 12px;
  }

  .row {
    margin: 0;

    .col-xs-4 {
      padding: 0;
    }
  }

  .number {
    background-color: #000055;
    margin: 6px;
    color: white;
    text-align: center;
    font-size: 31px;
    padding: 4em/31 0em/31;
  }

  .sublabel {
    text-align: center;
    text-transform: uppercase;
    color: #000055;
    .fontSemiBold();
  }

  .time-to-vote {
    color: @red;
    text-transform: uppercase;
    font-size: 21px;
  }
}