.track-list {
  width: 100%;
  min-height: 200px;
  overflow: hidden;
  position: relative;
  background-color: white;

  .iScrollVerticalScrollbar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    &.iScrollLoneScrollbar {
      background-color: #aaaaa9;
      width: 13px;

      .iScrollIndicator {
        border: 2px solid #aaaaa9;
        background-color: #0569c8;
      }
    }
  }

  &.top-picks {

    div.track-item.first-ten {
      background-color: #0569c8;
    }

    div.track-item:first-of-type {
      background-color: @red;
    }

  }

  .contain {
    position: relative;
    z-index: 0;
  }

  .track-item {

    background-color: #9d9c9d;
    margin-right: 21px;
    border-bottom: 1px solid white;
    color: white;
    .clearfix;
    padding-left: 5px;
    position: relative;

    @media (max-width: 720px) {
      margin-right: 0px;
    }

    .no {
      float: left;
      font-size: 40px;
      line-height: 1em;
      width: 1.5em;
      text-align: center;
      padding-top: 5px;
      padding-bottom: 5px;

      @media (max-width: 530px) {
        font-size: 30px;
        line-height: 1.5em;
      }
    }

    .select-box {
      float: left;
      font-size: 40px;
      width: 0.6em;
      height: 0.6em;
      margin: 0.4em 0.3em;
      cursor: pointer;
      background-color: white;

      .inner-shadow(2px, 2px, 2px, 0.33);

      &.selected {
        background-color: @red;
        .inner-shadow(0,0,0,0);
        background-image: url(../images/tick.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;

      }

      @media (max-width: 530px) {
        margin: 0.4em 0.1em;
      }
    }

    .name {
      font-size: 15px;
      text-transform: uppercase;
      .fontSemiBold();
    }

    &.your-vote {
      .name {
        color: #333333;
        font-size: 12px;
      }
    }

    .left {
      float: left;
      padding-top: 5px;
      padding-bottom: 5px;
      max-width: 60%;

      @media (max-width: 720px) {

        .name {
          font-size: 14px;
        }
      }

      @media (max-width: 530px) {
        padding-top: 10px;
        max-width: 45%;

        .name {
          font-size: 10px;
          line-height: 1.8em;
        }
      }
    }

    .center {
      position: absolute;
      left: 4.3em;
      right: 9em;

      @media (max-width: 530px) {
        right: 7.5em;
        left: 3.0em;
      }

      .name {
        float: left;
        max-width: 85%;

        @media (max-width: 530px) {
          max-width: 80%;
          font-size: 10px;
          line-height: 1.2;
        }
      }

      .time {
        float: right;

        @media (max-width: 530px) {
          font-size: 11px;
        }
      }

      .bar {
        .clearfix;
        clear: both;
        width: 100%;
        height: 5px;
        background-color: white;
        position: relative;
        margin-top: 5px;
        float: left;

        @media (max-width: 530px) {
          margin-top: 4px;
        }

        .inner {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          background-color: #0569c8;
        }
      }
    }

    &.your-vote {
      .center {
        top: 0;
        bottom: 0;
        line-height: 4em;

        .center-inner {
          line-height: 1em;
          display: inline-block;
          width: 100%;
          vertical-align: middle;
        }

      }
    }

    .right {
      float: right;

      .picture {
        height: 4em;
        width: 4em;
        background-color: black;
        float: right;

        img {
          width: 100%;

        }
      }

      .votes {
        font-size: 16px;
        vertical-align: middle;
        float: right;
        line-height: 3.5em;
        padding-right: 0.5em;

      }

      .play-pause {
        height: 4em;
        width: 4em;
        float: right;
        position: relative;
        cursor: pointer;

        @media (max-width: 530px) {
          width: 3.5em;
        }

        div {
          display: none;
          font-size: 2em;
          text-align: center;
          line-height: 2.2em;
          color: #0569c8;
        }

        &.paused {
          div.play-icon {
            display: block;
          }
        }
        &.playing {
          div.pause-icon {
            display: block;
          }
        }
        &.loading {
          @-webkit-keyframes rotating {
            from{
              -webkit-transform: rotate(0deg);
            }
            to{
              -webkit-transform: rotate(360deg);
            }
          }

          div.loading-icon {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            display: block;
            -webkit-transform-origin: 50% 50%;
            -moz-transform-origin: 50% 50%;
            -o-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-animation: rotating 2s linear infinite;
          }
        }
      }
    }
  }
}