
@font-face {
  font-family: 'AvantGarde-Book-Bold';
  src: url('AvantGarde-Book-Bold.eot?#iefix') format('embedded-opentype'),  url('AvantGarde-Book-Bold.woff') format('woff'), url('AvantGarde-Book-Bold.ttf')  format('truetype'), url('AvantGarde-Book-Bold.svg#AvantGarde-Book-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
