
@font-face {
  font-family: 'AvantGarde-Book';
  src: url('AvantGarde-Book.eot?#iefix') format('embedded-opentype'),  url('AvantGarde-Book.woff') format('woff'), url('AvantGarde-Book.ttf')  format('truetype'), url('AvantGarde-Book.svg#AvantGarde-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
